
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles  */

.button-common{
  background-color: #4E47FF;
  color: #FFFFFF;
  padding: 10px 30px;
  width: 150px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
  white-space: nowrap;
  border: none;
}
.title-content{
  color: #252432;
  font-size: 42px;
  font-weight: bold;
}
/* header work stat hare  */
.header{
  width: 1440px;
  height: 698px;
  background-image: url('../Assets/Hero-bg.png');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}
.nav-bar{
  width: 1140px;
  height: 151px;
  display:flex;
  margin: 0px 150px;
  padding-top: 51.5px;
  gap: 909px;
  align-items: center;
}
.nav-logo{
  color: #4E47FF;
  font-size: 34px;
}

.banner{
  margin: 100px 267px 200px;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}
.banner-title{
  margin-bottom: 0px;
}
.banner-button{
  margin-top:37px;
  width: 174px;
}
/* action section style start hare */
.action-sec{
  margin: 116px 159px 116px 144px;
}
.action-parent{
  display: flex;
  gap: 220px;
}
.action-image{
  width: 403px;
  height: 328px;
  border-radius: 48px;
  object-fit: cover;
  object-position:left;
}
.avtion-content{
  margin-top: 62.5px;
  margin-bottom: 62.5px;
}
.action-desc{
  width: 350px;
  color: rgba(37, 36, 50, 0.5);
}
.action-button{
  width: 229px;
}
